{% extends "base.html" %}

{% block content %}

<h2>Student Dashboard</h2>

<div class="card mb-3 p-3">

<h4>Student</h4>
<p>{{ student.name }}</p>

<h4>Batch</h4>
<p>{{ batch.name }}</p>

</div>


<div class="card p-3">

<h4>Project Stages</h4>

<table class="table">

<thead>
<tr>
<th>Stage</th>
<th>Deadline</th>
<th>Submission</th>
</tr>
</thead>

<tbody>

{% for stage in stages %}

<tr>

<td>{{ stage.name }}</td>

<td>

{% if deadline_dict.get(stage._id|string) %}
{{ deadline_dict.get(stage._id|string).strftime("%Y-%m-%d") }}
{% else %}
Not Set
{% endif %}

</td>

<td>

<form method="POST"
      action="{{ url_for('student.upload_stage', stage_id=stage._id) }}"
      enctype="multipart/form-data">

<input type="file" name="file" required>

<button class="btn-primary-custom btn-sm-custom">
Upload
</button>

</form>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}