{% extends "base.html" %}

{% block auth_content %}

<div class="login-wrapper">

    <div class="login-card">

        <img src="{{ url_for('static', filename='images/ZealInstitute_logo.png') }}" class="login-logo">

        <h4 class="login-title">Project Management Portal</h4>

        <form method="POST">

            <div class="mb-3">
                <label>PRN / Email</label>
                <input type="text" name="email" class="form-control" placeholder="Enter PRN or Email" required>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>

        </form>

    </div>

</div>

{% endblock %}
