{% extends "base.html" %}
{% block content %}

<h2 class="page-title">Student Submissions</h2>

<div class="card">

<table class="custom-table">

<thead>
<tr>
<th>Student</th>
<th>Stage</th>
<th>File</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for sub in submissions %}

<tr>

<td>{{ student_map.get(sub.student_id|string) }}</td>

<td>{{ stage_map.get(sub.stage_id|string) }}</td>

<td>
<a href="{{ url_for('admin.view_file', filename=sub.file_name) }}" target="_blank">
View File
</a>
</td>

<td>

{% if sub.status == "approved" %}
<span class="status-badge approved">Approved</span>

{% elif sub.status == "rejected" %}
<span class="status-badge rejected">Rejected</span>

{% else %}
<span class="status-badge pending">Pending</span>
{% endif %}

</td>



<td class="action-buttons">

<button class="btn-approve"
onclick="openRemark('{{ sub._id }}','approve')">
✔ Approve </button>

<button class="btn-reject"
onclick="openRemark('{{ sub._id }}','reject')">
✖ Reject </button>

</td>


want to see the whole code



</tr>

{% endfor %}

</tbody>

</table>


<div id="remarkModal" class="remark-modal">

<div class="remark-content">

<h4>Mentor Remark</h4>

<form id="remarkForm" method="POST">

<textarea
name="remark"
placeholder="Write feedback for student..."
required></textarea>

<div class="remark-actions">

<button type="submit" class="btn-approve">
Submit
</button>

<button type="button"
class="btn-reject"
onclick="closeRemark()">
Cancel </button>

</div>

</form>

</div>

</div>


</div>


<script>

function openRemark(id,type){

const modal = document.getElementById("remarkModal");
const form = document.getElementById("remarkForm");

if(type === "approve"){
form.action = "/admin/approve-submission/" + id;
}else{
form.action = "/admin/reject-submission/" + id;
}

modal.style.display = "flex";

}

function closeRemark(){
document.getElementById("remarkModal").style.display = "none";
}

</script>


{% endblock %}
