{% extends "base.html" %}
{% block content %}

<h2 class="page-title">Student Submissions</h2>

<div class="card">

<table class="custom-table">

<thead>
<tr>
<th>Student</th>
<th>Stage</th>
<th>File</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for sub in submissions %}

<tr>

<td>{{ student_map.get(sub.student_id|string) }}</td>

<td>{{ stage_map.get(sub.stage_id|string) }}</td>

<td>
<a href="{{ url_for('admin.view_file', filename=sub.file_name) }}" target="_blank">
View File
</a>
</td>

<td>

{% if sub.status == "approved" %}
<span class="status-badge approved">Approved</span>

{% elif sub.status == "rejected" %}
<span class="status-badge rejected">Rejected</span>

{% else %}
<span class="status-badge pending">Pending</span>
{% endif %}

</td>

<td>

<form method="POST" action="{{ url_for('admin.approve_submission', submission_id=sub._id) }}" style="display:inline;">
    <input type="text" name="remark" placeholder="Remark" required>
    <button class="btn-success">Approve</button>
</form>

<form method="POST" action="{{ url_for('admin.reject_submission', submission_id=sub._id) }}" style="display:inline;">
    <input type="text" name="remark" placeholder="Remark" required>
    <button class="btn-danger">Reject</button>
</form>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}